<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>

    <!-- bootstrap css -->
    <link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css" />

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font: normal 100% "Open Sans", sans-serif;
  color: #2E3640;
  width:90%;
  margin: 0 auto;
}

label {
  font-size:1.3em;
}

h1 {
  margin-bottom: 40px;

</style>

</head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Calculator</h1>
            </div>
            <div id="content">
                <h2>{{ result_string }}</h2>
                <h3>{{ errors }}</h3>
            </div>
            <div id="content">
            <form method="post" action="/calculate">
                <div class="form-group">
                    <legend>Calculator Options</legend>
                    <fieldset class="form-group">
                    <label for="number">Please enter an ID:</label>
                    <input type="text" class="form-control" name="ID" /><br />
                        <div class="form-group">
                         <label for="exampleSelect1">Example select</label>
                            <select class="form-control" name="Severity" id="severity">
                          <option value="1">High</option>
                          <option value="2">Medium</option>
                          <option value="3">Low</option>
                        </select>
                          </div>
                        <div class="form-group">
                         <label for="exampleSelect2">Example select</label>
                            <select class="form-control" name="Time" id="time">
                          <option value="1">High</option>
                          <option value="2">Medium</option>
                          <option value="3">Low</option>
                        </select>
                          </div>          
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </form>
            </div>
        </div>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

        <!-- bootstrap js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script>
            // initalize variable
            var priority;
            var severity;
            var time;

            // function to calculate bv
            function bv(p,s,t) {
                return p*s/t;
            }

            // assign form values to variables
            
            // run when page is ready
            $(document).ready(function() {

            });



        </script>

    </body>
</html>
 

               <!--    
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" name="checkor" class="form-check-input" value="5">
                  Multiply by 5
                </label>
              </div>
              -->